Package: com.pixelomer.regreddit
Name: Regreddit
Version: 1.0
Architecture: iphoneos-arm
Description: Reddit Comment Deleter
  Regreddit is an easy-to-use comment deleter for the official Reddit app for iOS.
  This tweak can be accessed by pressing "Comment Deleter" in the user drawer on the left side of the Reddit app.
  .
  No specific version of Reddit is required. This tweak was tested with version 2020.34.0.
  .
  This tweak will work on any iOS version higher than iOS 7.0. However, the Reddit app (2020.34.0) itself requires at iOS 12.0 or higher.
Maintainer: pixelomer
Author: pixelomer
Section: Tweaks
Homepage: https://github.com/pixelomer/Regreddit
Depends: mobilesubstrate (>= 0.9.5000)
