Package: com.bismih.cn
Name: AAA
Version: 1.0.1
Architecture: iphoneos-arm
Description: My first tweak
Maintainer: bismih
Author: bismih
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), preferenceloader, com.spark.libsparkcolourpicker ,com.spark.libsparkapplist,com.opa334.ccsupport,ws.hbang.alderis (>= 1.2)
