Package: com.fiore.suffisso
Name: Suffisso
Version: 1.0.0
Architecture: iphoneos-arm
Description: man.
Maintainer: Donato Fiore
Author: Donato Fiore
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.11)
Conflicts: com.pixelomer.iusearchbtw, com.fiore.torino