<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>yan</string>
			<key>user</key>
			<string>yandevelop</string>
			<key>userID</key>
			<string>1453463714431225860</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yan.hiddenlockpreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable HiddenLock14</string>
			<key>PostNotification</key>
			<string>com.yan.hiddenlockpreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Item Count</string>
			<key>footerText</key>
			<string>If no number is set, 0 is set by default.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yan.hiddenlockpreferences</string>
			<key>key</key>
			<string>itemCountEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.yan.hiddenlockpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.yan.hiddenlockpreferences</string>
			<key>key</key>
			<string>itemCount</string>
			<key>label</key>
			<string>Count:</string>
			<key>isNumeric</key>
			<true/>
			<key>placeholder</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.yan.hiddenlockpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
			<key>footerText</key>
			<string>Return to previous page if Photos app is in background / App Switcher while hidden album is accessed.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yan.hiddenlockpreferences</string>
			<key>key</key>
			<string>popToEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.yan.hiddenlockpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Password</string>
			<key>footerText</key>
			<string>Reset the password you've set for HiddenLock14.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.yan.hiddenlockpreferences</string>
			<key>key</key>
			<string>numeric</string>
			<key>label</key>
			<string>Use numeric keyboard</string>
			<key>PostNotification</key>
			<string>com.yan.hiddenlockpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Password</string>
			<key>action</key>
			<string>resetPassword:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HiddenLock14 by yan</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>Feel free to donate to me</string>
			<key>url</key>
			<string>https://www.paypal.com/paypalme/yandevelop</string>
			<key>iconURL</key>
			<string>https://cdn.icon-icons.com/icons2/730/PNG/512/paypal_icon-icons.com_62759.png</string>
			<key>iconCircular</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>This tweak is open-source on GitHub</string>
			<key>url</key>
			<string>https://github.com/yandevelop/HiddenLock14</string>
			<key>iconURL</key>
			<string>https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png</string>
			<key>iconCircular</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Join my discord server</string>
			<key>url</key>
			<string>https://discord.gg/wVG522PcUd</string>
			<key>iconURL</key>
			<string>https://www.pngkit.com/png/detail/816-8165219_discord-logo-png-discord-icon.png</string>
			<key>iconCircular</key>
			<string>YES</string>
		</dict>
	</array>
	<key>title</key>
	<string>HiddenLock14</string>
</dict>
</plist>
