Package: com.greg0109.killalert
Name: KillAlert
Architecture: iphoneos-arm
Description: Get a notification before killing an app!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0-4+debug
Installed-Size: 204
