Package: com.shepgoba.photoinfo
Name: PhotoInfo
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Show photo resolution and disk usage in app
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 1.0-4
Installed-Size: 136
