Package: com.greg0109.messageunread
Name: MessageUnread
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
