Package: com.jeffresc.shortlook.plugin.contact-photo.tumblr
Name: Tumblr Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.2
Architecture: iphoneos-arm
Description: Show Tumblr users' profile pictures in ShortLook when you receive a Tumblr notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
