Package: love.litten.letter
Name: Letter
Depends: mobilesubstrate, firmware (>= 13.0), love.litten.libkitten
Version: 0.9
Architecture: iphoneos-arm
Description: App icon color adaptive keyboard
Maintainer: alexandra
Author: alexandra
Section: unreleased
