<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>weeb.lillie.accentcustomprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>weeb.lillie.accentcustomprefs</string>
				<key>fallback</key>
				<string>#FFC0CB</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Colour</string>
			<key>key</key>
			<string>customColour</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Blacklist Apps</string>
			<key>action</key>
			<string>selectExcludeApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>weeb.lillie.accentcustomprefs</string>
			<key>key</key>
			<string>lowPowerModeBatteryTint</string>
			<key>label</key>
			<string>Low Power Mode Battery Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>weeb.lillie.accentcustomprefs</string>
			<key>key</key>
			<string>chargingBatteryTint</string>
			<key>label</key>
			<string>Charging Battery Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>weeb.lillie.accentcustomprefs</string>
			<key>key</key>
			<string>controlCenterTint</string>
			<key>label</key>
			<string>Control Center Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>reset</string>
		</dict>
	</array>
	<key>title</key>
	<string>Accent Custom</string>
</dict>
</plist>
