Package: com.yourcompany.wechat
Name: learn
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: lovez
Author: lovez
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)