Package: love.litten.nolowpoweralert
Name: NoLowPowerAlert
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.9
Architecture: iphoneos-arm
Description: Remove the low power alert
Maintainer: alexandra
Author: alexandra
Section: unreleased
