<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Settings</string>
				<key>footerText</key>
				<string>Enable TimeJump</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.wilsonthewolf.timejumpprefs</string>
				<key>key</key>
				<string>enabled</string>
				<key>label</key>
				<string>Enable</string>
				<key>PostNotification</key>
				<string>com.wilsonthewolf.timejump/preferences.changed</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Time</string>
				<key>footerText</key>
				<string>How much farther ahead, in minutes, the lock screen clock will be.</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>min</key>
				<integer>1</integer>
				<key>max</key>
				<integer>59</integer>
				<key>default</key>
				<integer>2</integer>
				<key>defaults</key>
				<string>com.wilsonthewolf.timejumpprefs</string>
				<key>showValue</key>
				<true/>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<integer>58</integer>
				<key>key</key>
				<string>time</string>
				<key>PostNotification</key>
				<string>com.wilsonthewolf.timejump/preferences.changed</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Links</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>GitHub</string>
				<key>action</key>
				<string>openGithub</string>
			</dict>
		</array>
		<key>title</key>
		<string>TimeJump</string>
	</dict>
</plist>
