Package: love.litten.stardust
Name: Stardust
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.9
Architecture: iphoneos-arm
Description: Spotify now playing redesign
Maintainer: alexandra
Author: alexandra
Section: unreleased
