Package: com.jeffresc.shortlook.plugin.contact-photo.steam
Name: Steam Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.1
Architecture: iphoneos-arm
Description: Show Steam users' profile pictures in ShortLook when you receive a Steam notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
