Package: com.jeffresc.shortlook.plugin.contact-photo.messenger
Name: Facebook Messenger Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.1.1
Architecture: iphoneos-arm
Description: Show Facebook Messenger users' profile pictures in ShortLook when you receive a Messenger notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
