Package: love.litten.hate
Name: HATE
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.9
Architecture: iphoneos-arm
Description: OLED keyboard
Maintainer: alexandra
Author: alexandra
Section: unreleased
