Package: com.greg0109.banavoider
Name: BanAvoider
Depends: mobilesubstrate, applist, preferenceloader
Architecture: iphoneos-arm
Description: Useful tweak that reminds you to disable the jailbreak before playing games!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Version: 1.2-5+debug
Installed-Size: 424
